* {
    font-family: 'Roboto', sans-serif;;
}

#icon {
    border-radius: 100%;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(5, 1fr);
}

header {
    grid-row: 1/2;
    grid-column: 2/3;

    background-color: rgba(255,255,255,255);

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 5px;

    grid-template-rows: 1fr 2fr;
}

/* header top left */
#searchbar {
    grid-column: 1/2;
    display: flex;
    justify-content: start;
    align-items: center;

    padding-left: 80px;

    gap: 15px;
}

#searchbar > img {
    width: 2rem;
    height: 2rem;
}

#searchbar > input {
    width: auto;
    height: 20px;

    border-radius: 10px;
    border-color: rgba(226,232,240,255);
    border-style: solid;

    background-color: rgba(226,232,240,255);

    flex-grow: 1;
}

/* header top right */

#header-TRight {
    grid-column: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 17px;
    font-weight: bold;

    gap: 15px;
}

#header-TRight > img {
    width: 2rem;
    height: 2rem;
}

/* header bottom left */

#header-btleft {
    display: flex;
    justify-content: start;
    align-items: center;

    font-weight: bold;

    padding-left: 80px;

    gap: 10px;
}

#header-btleft > img {
    width: 3rem;
    height: 3rem;
}

#header-btleft > div > p {
    margin: 5px
}

#pro-hdr {
    font-size: 16px;
}

#pro-text {
    font-size: 20px;
}

/* header bottom right */

#header-btright {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 10px;
}

button {
    width: 90px;
    height: 40px;

    background-color: rgba(25,146,212,255);
    color: rgba(201,229,244,255);

    border-radius: 20px;
    border-style: solid;
    border-color: rgba(25,146,212,255);

    font-size: 17px;
    font-weight: bold;
}

/* sidebar formatting */

#sidebar {
    grid-column: 1/2;
    grid-row: 1/6;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    justify-items: left;
    align-items: center;
    row-gap: -20px;

    background-color: rgba(25,146,212,255);

    font-weight: bold;
    
    padding-left: 30px;
}

/* formatting of smaller elements*/

#sidebar>div>img, #sidebar>div>div>img {
    width: 2rem;
    height: 2rem;
}

#sidebarS1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  font-size: 28px;
  color: aliceblue;
}

#sidebarS2, #sidebarS3 {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 22px;
    color: aliceblue;
}

#home, #profile, #messages, #history, #tasks, #communities, #settings, #support, #privacy {
    display: flex;
    gap: 20px;

}

/* Main content Section */
#content {
    padding:40px;

    font-size: 18px;

    grid-column: 2/3;
    grid-row: 2/6;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;

   background-color: rgba(226,232,240,255);
}

#project-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

    margin-top:10px;
}

#project-main > * {
    border-radius: 10px;

    margin-right: 20px;
    
}

.project-content {
    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background: linear-gradient(to right, rgba(240,180,41,255) 0%,rgba(240,180,41,255) 5%, rgba(255,255,255,255) 5%, rgba(255,255,255,255) 100%);

    padding: 10px 30px;
}

.project-content-title {
    font-size: 15px;
    font-weight: bold;
}

.project-text {
    font-size: 12px;
}

.project-content > p {
    margin: 5px 0;
}

#icons {
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
}

#icons > * {
    width: 30px;
    height: 30px;
}

/* Content RH side */

#content-rh {

    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;

    gap: 20px;
}

#ann-content > div > p {
    font-size: 10px;
}

#announcements {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

#ann-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    border: 2px solid black;
    border-radius: 8px;

    padding: 15px;
}

#trend {
    font-size: 11px
}

#trend-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    padding: 15px;

    border: 1px solid black;
    border-radius: 8px;
}

#trend-content > div {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 5px;
}

#trend-content > div > img {
    width: 30px;
    height: 30px;
}